Diagnostics:
  ClangTidy:
    Add: [ clang-diagnostic-*, clang-analyzer-*, cppcoreguidelines-*, modernize-*, bugprone-*, performance-*, readability* ]
    Remove: [ bugprone-easily-swappable-parameters, cppcoreguidelines-avoid-magic-numbers, cppcoreguidelines-init-variables, modernize-use-nodiscard,
                cppcoreguidelines-pro-type-member-init, modernize-use-trailing-return-type, readability-braces-around-statements, readability-magic-numbers, 
                readability-isolate-declaration, cppcoreguidelines-pro-bounds-constant-array-index, cppcoreguidelines-pro-type-reinterpret-cast,
                cppcoreguidelines-pro-bounds-pointer-arithmetic, cppcoreguidelines-non-private-member-variables-in-classes, readability-redundant-access-specifiers,
                readability-identifier-length, readability-function-cognitive-complexity, readability-implicit-bool-conversion ]
    CheckOptions:
      cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
InlayHints:
  ParameterNames: false